@{
    ViewBag.Title = "aboutme";
}
<h1>About Me</h1>

<p>I'm a third year UC student and I'm in IT major. My hobbies are playing basketball, watching anime, and my favorite one is playing video games, my favorite games are Dota2, NBA2K, Hearthstone. But I'm going to introduce one of my favorite game Monster Hunter.</p>
