
@{
    ViewBag.Title = "mh";
}
<h1>About Monster Hunter</h1>

<p>It's third person view game which you can fight against all monsters with different type of weapons. You can buy or upgrade the better weapon by defeat better monster. </p>
