
@{
    ViewBag.Title = "team";
}
<h1>About Brooklyn Nets</h1>

<p>It's my favorite team because of Kevin Durant. He was my favorite player when back from Oklahoma Thunder to Golden State Warriors. I hope he get rid of those injuries and won another champion ship. </p>
